* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
}

html,
body {
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overscroll-behavior: none;
}

html::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}


/* You Code CSS */


/* Configurações para o lado esquerdo do site */

.container-custon {
    width: 100%;
}

.left-side {
    width: 16.5%;
    height: 100%;
    position: fixed;
    border-right: 1px solid #dfdfe0;
}

.site-logo {
    width: 130px;
}

.alert-service {
    width: 100%;
    height: 190px;
    background-color: #2692b7;
    background-image: linear-gradient( 56deg, #0087c1 13%, #89d7bb);
    border-radius: 10px;
}

.btn {
    padding: 10px 15px;
}

.alert-service p {
    font-size: 13px;
    color: rgb(221, 215, 215);
}

.alert-service button {
    width: 100%;
    display: block;
    background: none;
    outline: none;
    border: none;
    border: 1px solid #fff;
    padding: 7px;
    color: #fff;
    border-radius: 50px;
}

.menu-site {
    font-size: 17px;
}

.config-icon {
    margin-right: 10px;
}


/* Configurações para o lado direito do site */

.right-side {
    width: 83.5%;
    margin-left: auto;
}

.search {
    border-bottom: 1px solid #dfdfe0;
}

.form-search {
    padding: 1px;
    border: none;
    outline: none;
    display: block;
    width: 50%;
    margin-left: 10px;
}

.icon-form:hover {
    cursor: pointer;
}

.icon-form {
    font-size: 20px;
    margin-right: 10px;
}

.title-card {
    font-size: 22px;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.info {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    position: relative;
}

.info span {
    display: block;
    font-size: 30px;
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.info:hover img {
    opacity: 0.8;
    cursor: pointer;
}

.track {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #dfdfe0;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 20px;
}

.config-track {
    width: 20%;
    text-align: center;
}

.control-player {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    height: 80px;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
    border-top: 1px solid #dfdfe0;
}

.container-load {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 20vh;
    transform: scale(5);
}

.load {
    animation: rotating 1s infinite;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #51d4db;
    height: 10px;
    width: 10px;
}

@keyframes rotating {
    to {
        transform: rotate(1turn);
    }
}